.taskContainer {
  width: 610px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.warning {
  margin: 0 auto;
}

.btn{
  border-radius: 55px;
  width: 80px;
  height: 60px;
  font-size: 18px;
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* .wrapper {
  margin-top: 100px;
} */
