.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.container {
  margin-top: 50px;
  .card p {
    min-height: 80px;
  }
  h1{
    margin-bottom: 50px;
  }
}

.navbar {
  justify-content: right !important;

}


.welcome {
  margin: 100px 0px;
}

.nav-link .active {
  background-color: red;
}

.card,
.navbar {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
