.App {
  text-align: center;
  // position: relative;
  .navbar {
    justify-content: right !important;
    margin-bottom: 30px;
    // position: fixed;

    .active {
      border-bottom: 2px solid #61dafb;
      color: #61dafb;
    }

    .nav-item:hover {
      cursor: pointer;
      color: #0389ad !important;
    }
  }

  .card,
  .navbar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .container {
    justify-content: center;

    .card p {
      min-height: 80px;
    }

    .card {
      margin-bottom: 25px;
    }

    h1 {
      margin: 30px 0px;
    }
  }
}

.jumbotron {
  margin: 30px;
}
