.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

aside {
  width: 20%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;

  
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  list-style: none;
  padding-top: 50px;
  margin: 3% 10px;
  height: 90%;
  padding-inline-start: 0px;
  border-right: 1px solid lightgray;
  line-height: 30px;

  li {
    padding: 5px 5px;

    a {
      text-decoration: none;      
    }
  }
  
  li:hover{
   cursor: pointer;
   text-decoration: underline;
   background-color: #f7f7f7;
  }
}
button:hover{
  cursor: pointer;
}
.nav-active{
  background-color: #a6dfee;
  text-decoration: underline;
}